extends layout

block content
  div(class="container theme-showcase" role="main")
    h2 #{connections} connections in #{ Object.keys(applications).length} applications
    each application, app_name in applications
      hr
      h3 Application: #{app_name}
      if application.disable
        form(action='/disable_off', method='post' class="form-inline")
          input(type='hidden', name='app_name', value=app_name)
          button(type='submit' class="btn btn-success") disable OFF
      else
        p
          form(action='/disable_on', method='post' )
            .form-group
              .input-group
                select(class="form-control" name="room_name")
                  option(value="") completed app
                  each row, index in application.rooms
                    option= index
                input(type='hidden', name='app_name', value=app_name)
                input(type='text', name='disable_message' value="Deploy in progress..." class="form-control")
            button(type='submit' class="btn btn-danger") disable ON
        hr
        p
          form(action='/eval', method='post')
            .form-group
              .input-group
                input(type='hidden', name='app_name', value=app_name)
                select(class="form-control" name="room_name")
                  option(value="") completed app
                  each row, index in application.rooms
                    option= index

                textarea(type='text', name='code' value="" placeholder='js code' class="form-control")
            button(type='submit' class="btn btn-primary") eval JS

      br
      table(width= '600px', border='1px' class="table table-bordered")
        tr
          th Room
          th User
          th Count
          th Actions
        each row, index in application.rooms
          tr
            td
              = index
            td
              each user in row.users
                = user['username']
                br
            td
              span(class="badge")
                = Object.keys(row.users).length
            td
              if row.disable
                form(action='/disable_off', method='post' class="form-inline")
                  input(type='hidden', name='app_name', value=app_name)
                  input(type='hidden', name='room_name', value=index)
                  button(type='submit' class="btn btn-success") disable OFF

